body {
    background-color: #FDF7F4;
}


.leftmenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;

}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px;
    margin: auto
}

.leftmenu>ul {
    margin-top: auto;
}

.leftmenu>li {
    display: block;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

.leftmenu>li>a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

.leftmenu>li>a:hover {
    background-color: #0D92F4;
    text-decoration: underline;
    font-weight: bold;
}


.background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
    z-index: -1;
}

.content {
    margin-left: 320px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D92F4;
}

.about {
    margin-left: 320px;
    padding: 20px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D92F4;
}

.education {
    margin-left: 320px;
    padding: 20px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D92F4;
}

.contact {
    margin-left: 320px;
    padding: 20px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D92F4;
}



h1 {
    text-align: left;
    font-size: 55px;
}

p {
    font-size: 35px;
    line-height: 2;
}

.contact-question {
    text-align: left;
}

.contact-form {
    max-width: 600px;
    padding: 20px
}

.contact-form>label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form>input,
.contact-form>textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.button {
    width: 150px;
    height: 30px
}

.button:hover {
    background-color: #0D92F4;
    text-decoration: underline;
    font-weight: bold;
}

.contact-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

.contact-icons img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}